run = "python -m pip install --upgrade --target=.python_packages -r requirements.txt && export PYTHONPATH=\".python_packages:$PYTHONPATH\" && python run.py"
language = "python3"
entrypoint = "run.py"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 15754783
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m pip install --upgrade --target=.python_packages -r requirements.txt && export PYTHONPATH=\".python_packages:$PYTHONPATH\" && python run.py"

[[ports]]
localPort = 8000
externalPort = 80