run = "python3 -m pip install -q -r requirements.txt && python3 run.py"
language = "python3"
entrypoint = "run.py"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 15754783
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m pip install --user -r requirements.txt && export PYTHONPATH=\"$(python -c 'import site; print(site.USER_SITE)'):$PYTHONPATH\" && python run.py"
